<div class="container h-100vh">
  <p class="message">Thank you for purching with us</p>
  <p class="title">your purchase details</p>
  <div class="f-2rem">

    {{title}}
    ${{price}}
    {{payment_method}}
  </div>
</div>